#scripts{
	background : #c1c1c1;
	color:#292929;
	border-width :1px;
}

.proton-category{
	/*
	background: #c1c1c1;
	*/
	color:rgb(56, 56, 56);
	/*
	border-style : solid;
	*/
	border-style :none !important;
}

.proton{
	color:rgb(21, 21, 21);
	border-style:none;
	height:15px;
}

.ui-menu-item{
	background:hsla(0, 0%, 80%, 1);
	color:rgb(56, 56, 56);
	/*
	border-bottom:1px solid;
	*/
}

.odd{
	background:hsla(0, 0%, 80%, 1);
}
.even,.autocomplete-item-odd{
	background:hsl(0, 0%, 75%);
}
