#scripts{
	background : #c1c1c1;
	color:#292929;
	border-width :1px;
}

.proton-category{
	/*
	background: #c1c1c1;
	*/
	color:rgb(56, 56, 56);
	/*
	border-style : solid;
	*/
	border-style :none !important;
}

.proton{
	background: #e6e6e6;
	color:rgb(21, 21, 21);
	border-bottom:1px solid;
	border-color:rgb(156, 156, 156);
	height:15px;
}
.ui-menu-item{
	background: #c1c1c1;
	color:rgb(56, 56, 56);
	/*
	border-bottom:1px solid;
	*/
	border-color:rgb(156, 156, 156);
}

.proton-category.odd{
	background:hsla(0, 0%, 80%, 1);
}
.proton-category.even{
	background:hsla(0, 0%, 70%, 1);
}
