

.search-menu{
  display: flex;
}



#tags{
  background-color:#585858;
  border: none;
  border-radius: 2px;
  color:#d6d6d6;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}


.proton-category{
  padding:2px 4px !important;
}

.proton-list{
  max-height:330px;
  overflow-y:auto;
  overflow-x: hidden;
}

category-menu{
  max-height:400px;
  overflow-y:auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #252525;
}


.ui-state-active{
  height:20px !important;
}
